%html
  %head
    %title AngularRailsHacking
    = stylesheet_link_tag    "bootstrap"
    = stylesheet_link_tag    "bootstrap-responsive"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "padding-top: 60px; padding-bottom: 40px;"}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} Angularjs Rails Hacking
          .nav-collapse.collapse
            %ul.nav
              - if user_signed_in?
                %li
                  =link_to 'Sign Out', destroy_user_session_path, method: :delete if user_signed_in?
              - else
                %li
                  =link_to "Sign Up", new_user_registration_path
                %li
                  =link_to "Sign In", new_user_session_path

            - unless user_signed_in?
              = form_for(:user, :as => :user, :url => session_path(:user), :html => {:class => "navbar-form pull-right"}) do |f|
                = f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "span2"
                = f.password_field :password, :placeholder => "Password", :class => "span2"
                = f.submit "Sign in", :class => "btn"
  
    .container-fluid
      = yield
